
<!DOCTYPE HTML>
<html lang="ru">
<head>
    @* Title из базы данных *@
    @if (ViewBag.Title != null)
    {
        <title>Химическая лаборатория</title>
    }

    @* Частичные представления для мета-тегов и стилей *@
    @await Html.PartialAsync("MetaTags")
    @await Html.PartialAsync("CssPartial")

    <style>

        /* Футер */
        footer {
            background-color: #007b9d;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 1000px; /* Фиксируем отступ от контента */
            box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2); /* Легкая тень */
        }

            footer a {
                color: #f1f1f1;
                text-decoration: none;
            }

                footer a:hover {
                    color: #ffd700;
                }

       
    </style>

</head>
<body>

    <div id="page-wrapper">

        <!-- Header -->
        <!-- Можно попробовать разделить для возможность изменять логику -->
         <div id="header-wrapper">
             <div class="container">
                 <div class="row">
                     <div class="col-12">
                         <header id="header">

                              <h1>
                                <a href="@Url.Page("/Authorised/User")" id="logo">Химическая Лаборатория</a>
                              </h1>

                             <nav id="nav">
								<!--<a href="@Url.Page("/Index")">Главная</a>-->
                                 <a href="@Url.Page("/Home/Experiment")">Эксперименты</a>
                                 <a href="@Url.Page("/Home/Equipment")">Оборудование</a>
                                 <a href="@Url.Page("/Home/People")">Работники</a>
                                 <a href="@Url.Page("/Home/Reagent")">Реагенты</a> 

                             @* <select id="automitizationSelector">
                                    <option value="">Автоматизация</option>
                                    <option value="/Home/Automatization">Расчет </option>
                                </select>

                                <select id="tableSelector">
                                    <option value="">Таблицы</option>
                                    <option value="/Home/Experiment">Эксперименты</option>
                                    <option value="/Home/Equipment">Оборудование</option>
                                    <option value="/Home/People">Работники</option>
                                    <option value="/Home/Reagent">Реагенты</option>
                                </select> *@
                                 <a id="Enter" href="@Url.Page("/Authorised/User")">Личный кабинет</a>
                             </nav>
                         </header>
                     </div>
                 </div>
             </div>
         </div>
         @* @await Html.PartialAsync("Header"); *@

        <!-- Main Content -->
        <main>
            @RenderBody()  
        </main>

        <!-- Footer -->
		<!--<div class="content">
			<!--class="min-h-screen flex flex-col"
            <main class="flex-grow">
                <div id="copyright">
                    &copy; Дмитрий. All rights reserved. | Designed: >Ручками</a>
                </div>
            </main>
            <Footer />
		</div>-->

        <footer>
            &copy; Дмитрий. All rights reserved. | Designed: <a href="@Url.Page("/Authorised/User")">Ручками</a><!---->
        </footer>

    </div>

    @* Частичное подключение для скриптов *@
    @await Html.PartialAsync("ScriptsPartial")

    <script>
        // Получаем элемент select
        const tableSelector = document.getElementById('tableSelector');
        tableSelector.addEventListener('change', function () {
            const selectedUrl = tableSelector.value; // Получаем выбранное значение (URL)
            if (selectedUrl) { // Если URL не пустой
                window.location.href = selectedUrl; // Переходим на выбранную страницу
            }
        });

        const automitizationSelector = document.getElementById('automitizationSelector');
        automitizationSelector.addEventListener('change', function () {
            const selectedUrl = automitizationSelector.value; // Получаем выбранное значение (URL)
            if (selectedUrl) { // Если URL не пустой
                window.location.href = selectedUrl; // Переходим на выбранную страницу
            }
        });
    </script>
</body>
</html>
