@{
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var userName = isAuthenticated ? User.Identity.Name : "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Хим. Лаборатория</title>
    <link rel="stylesheet" href="~/css/mainLayout.css" />

</head>
<body>
    <div class="header">
        <div class="header-left">
            <span class="menu-btn" onclick="toggleSidebar()">&#9776;</span>
            <h1>
                <a href="@Url.Page("/Authorised/User")" id="logo">Химическая Лаборатория</a>
            </h1>

        </div>
        <div class="header-right">
            @if (isAuthenticated)
            {
                <span>Уведомл.</span>
                <span>@userName</span>
                <a href="/Account/Logout">Выйти</a>
            }
            else
            {
                <span>Уведомл.</span>
                <a href="/Account/Login">Войти</a>
            }
        </div>
    </div>

    <div id="sidebar" class="sidebar">
        <a href="/">Дашборд</a>
        <a href="/Tables">Таблицы</a>
        <a href="@Url.Page("/Home/Reagent")">Реагенты</a>
        <a href="/Analytics">Аналитика</a>
        <a href="/Reports">Отчеты</a>
        <a href="/Settings">Настройки</a>
    </div>

    <div id="content" class="content">
        @RenderBody()
    </div>

    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById('sidebar');
            var content = document.getElementById('content');
            sidebar.classList.toggle('hidden');
            content.classList.toggle('expanded');
        }
    </script>
</body>
</html>
